build/.cmake
build/CmakeFiles
*.a
*.so*
*.xcodeproj
*~
.vscode/
.cache/
.vs/
/_CPack_Packages
/install_manifest.txt
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles
CPack*.cmake
CTestTestfile.cmake
Makefile
build/
*.jpg