# 构建目录
build/.cmake/
build/CMakeFiles/
build/bin/

# CMake 生成文件
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake

*.ninja
build.ninja

# 临时文件
*~
*.swp
*.swo
*.swn

# 编译输出
*.so
*.so.*
*.dylib
*.exe

# 其他
.cache/
*.jpg